#*#
*.Makefile
*.a
*.exe
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.pdb
*.pyc
*.scons*
*.sdf
*.sln
*.so
*.suo
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*~
.#*
.*.sw?
.cpplint-cache
.cproject
.d8_history
.gclient_entries
.gdb_history
.landmines
.project
.pydevproject
.settings
.vscode
/_*
# /base # @metahash
# /build # @metahash
# /buildtools # @metahash
/hydrogen.cfg
/obj
/out
/out.gn
/perf.data
/perf.data.old
# /src/inspector/build/closure-compiler # @metahash
# /src/inspector/build/closure-compiler.tar.gz # @metahash
# /test/benchmarks/data # @metahash
/test/fuzzer/wasm_corpus
/test/fuzzer/wasm_corpus.tar.gz
# /test/mozilla/data # @metahash
# /test/test262/data # @metahash
# /test/test262/harness # @metahash
# /test/wasm-js # @metahash
# /test/wasm-spec-tests/tests # @metahash
# /test/wasm-spec-tests/tests.tar.gz # @metahash
# /third_party/* # @metahash
# !/third_party/antlr4 # @metahash
# !/third_party/binutils # @metahash
# !/third_party/eu-strip # @metahash
# !/third_party/inspector_protocol # @metahash
# !/third_party/colorama # @metahash
/third_party/colorama/src
# !/third_party/googletest # @metahash
# /third_party/googletest/src # @metahash
# /tools/clang # @metahash
# /tools/gcmole/gcmole-tools # @metahash
# /tools/gcmole/gcmole-tools.tar.gz # @metahash
/tools/gyp
/tools/jsfunfuzz/jsfunfuzz
/tools/jsfunfuzz/jsfunfuzz.tar.gz
# /tools/luci-go # @metahash
/tools/mips_toolchain
/tools/mips_toolchain.tar.gz
/tools/oom_dump/oom_dump
/tools/oom_dump/oom_dump.o
# /tools/swarming_client # @metahash
/tools/visual_studio/Debug
/tools/visual_studio/Release
/v8.log.ll
/xcodebuild
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
bsuite
compile_commands.json
d8
!/test/mjsunit/d8
d8_g
gccauses
gcsuspects
gtags.files
shell
shell_g
tags
turbo*.cfg
turbo*.dot
turbo*.json
v8.ignition_dispatches_table.json
/Default/
node_modules
tools/turbolizer/build
tools/turbolizer/.rpt2_cache
tools/turbolizer/deploy

# @metahash additional exclusions
/build/linux/debian_*-sysroot
/build/linux/ubuntu_*-sysroot
